body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 25px;
}

.mt-5 {
  margin-top: 30px;
}

.mt-6 {
  margin-top: 35px;
}

.mt-7 {
  margin-top: 40px;
}

.mt-8 {
  margin-top: 45px;
}

.mt-9 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 55px;
}

.mt-11 {
  margin-top: 60px;
}

.mt-12 {
  margin-top: 65px;
}

.mt-13 {
  margin-top: 70px;
}

.mt-14 {
  margin-top: 75px;
}

.mt-15 {
  margin-top: 80px;
}

.mt-16 {
  margin-top: 85px;
}

.mt-17 {
  margin-top: 90px;
}

.mt-18 {
  margin-top: 95px;
}

.mt-19 {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 105px;
}

.mt-21 {
  margin-top: 110px;
}

.mt-22 {
  margin-top: 115px;
}

.mt-23 {
  margin-top: 120px;
}

.mt-24 {
  margin-top: 125px;
}

.mt-25 {
  margin-top: 130px;
}

.mt-26 {
  margin-top: 135px;
}

.mt-27 {
  margin-top: 140px;
}

.mt-28 {
  margin-top: 145px;
}

.mt-29 {
  margin-top: 150px;
}

.mt-30 {
  margin-top: 155px;
}

.btn_position {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu {
  width: 80%;
  height: 100px;
  margin-top: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: fixed;
  z-index: 10;
}

.menu li {
  height: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1%;
}

.menu li:nth-child(n+3):hover {
  border-bottom: 5px solid yellow;
}

.menu li:first-child {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  border-bottom: none;
}

.row_menu {
  width: 100%;
  height: 100px;
}

.hamburger {
  display: none;
}

.btn_get {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_get:hover {
  background-color: black;
}

.btn_more {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_more:hover {
  background-color: black;
}

.btn_project {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_project:hover {
  background-color: black;
}

.row_hero {
  width: 100%;
  height: 100px;
  height: 850px;
  background-image: url("../images/hero.png");
  background-size: cover;
}

.design {
  color: white;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  z-index: 1;
}

.design ul {
  margin-top: 250px;
  list-style-type: none;
}

.design li:nth-child(2) {
  color: #f58220;
}

.design li:nth-child(3) {
  font-size: 24px;
}

.phone {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f58220;
  background-image: url("../images/phone.png");
  position: fixed;
}

.phone:hover {
  background-color: black;
}

.flex_container_end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.flex_container_start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  max-width: 1280px;
}

.about div {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

.about div:first-child, .about div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.about div:first-child {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.about div:nth-child(2) {
  font-size: 16px;
  color: #f58220;
  margin: 0;
}

.about div:nth-child(3) {
  text-align: left;
}

.about div:nth-child(5) {
  text-align: left;
  margin-top: -100px;
}

.video {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  height: 315px;
  width: 487px;
}

.row_services {
  width: 100%;
  height: 100px;
  height: 400px;
  background-color: black;
}

.services {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

.services div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services ul li {
  font-size: 12px;
  color: #595959;
}

.services div:first-child, .services div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.services div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.services li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.row_project {
  width: 100%;
  height: 100px;
  height: 800px;
}

.center_div_project div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_project div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.center_div_project div:nth-child(2) {
  font-size: 14px;
  color: #e5e5e5;
}

.project {
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.project_menu {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 50px;
}

.project_menu li {
  list-style-type: none;
  -ms-flex-preferred-size: 16.5%;
      flex-basis: 16.5%;
  background-color: #ededed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #dedede;
  height: 95%;
}

.project_menu li:first-child {
  border-radius: 20px 0px 0px 20px;
}

.project_menu li:last-child {
  border-radius: 0px 20px 20px 0px;
}

.project_menu li:hover {
  border-bottom: 2px solid #b88b58;
}

.images_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images_list li {
  padding: 20px 0px;
}

.project_images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 21%;
      flex: 1 0 21%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.project_images img {
  margin: 0 auto;
}

.project_images img:hover {
  opacity: 0.5;
}

.row_team {
  width: 100%;
  height: 100px;
  background-image: url("../images/team.png");
  height: 700px;
}

.center_div_team div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_team div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.center_div_team div:nth-child(2) {
  font-size: 12px;
  color: white;
}

.center_div_team div:first-child {
  padding-top: 50px;
}

.team {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

.team div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.team ul li {
  font-size: 12px;
  color: #595959;
}

.team div:first-child, .team div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.team div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.team li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.team ul {
  background-color: white;
  width: 95%;
  padding: 50px 0;
}

.team ul li:nth-child(2) {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.social {
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
}

.social span {
  margin-top: 25px;
  background-color: #bebebe;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.social span:hover {
  background: #b88b58;
}

.social span i {
  margin-top: 25%;
}

.row_client {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
  height: 500px;
}

.client {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.client div {
  padding-top: 15px;
}

.client div:nth-child(4) {
  font-weight: bold;
}

.client div:last-child {
  width: 60%;
  margin: auto;
  color: #c0c0c0;
}

.center_div_client div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_client div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.center_div_client div:nth-child(2) {
  font-size: 12px;
  color: #c0c0c0;
}

.center_div_client div:nth-child(2) {
  font-weight: bold;
}

.row_logo {
  width: 100%;
  height: 100px;
}

.logo {
  width: 80%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.row_price {
  width: 100%;
  height: 100px;
  background-color: #ededed;
  height: 650px;
}

.price {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

.price div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.price ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price ul li {
  font-size: 12px;
  color: #595959;
}

.price div:first-child, .price div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.price div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.price li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.price li:nth-child(2) {
  font-weight: bold;
  font-size: 30px;
  color: #242424;
}

.price ul li {
  font-size: 10px;
}

.price .month {
  color: #cecece;
  font-size: 14px;
}

.price div:first-child, .price .title {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.price div:nth-child(2) {
  color: #3b3b3b;
}

.price .back {
  background-color: white;
  -ms-flex: 1 0 21%;
      flex: 1 0 21%;
  margin: 0 1%;
  padding-top: 3%;
  height: 400px;
  margin-top: 50px;
}

.btn_price {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
  background-color: black;
}

.btn_price:hover {
  background-color: black;
}

.btn_price:hover {
  background-color: #f58220;
}

.row_premium {
  width: 100%;
  height: 100px;
  background-color: white;
  height: 580px;
}

.center_div_premium div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_premium div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.center_div_premium div:nth-child(2) {
  font-size: 12px;
  color: #c0c0c0;
}

.premium {
  width: 80%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #b8b8b8;
  max-width: 1280px;
}

.premium span {
  padding-left: 10%;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  color: #b8b8b8;
}

.premium div:nth-of-type(1) {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.premium div:nth-of-type(2) {
  -ms-flex-positive: 3;
      flex-grow: 3;
}

.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.box div {
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  font-size: 24px;
  font-weight: bold;
  padding-left: 5%;
}

.box img {
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
}

.row_facts {
  width: 100%;
  height: 100px;
  background-color: black;
  height: 400px;
}

.facts {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

.facts div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.facts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.facts ul li {
  font-size: 12px;
  color: #595959;
}

.facts div:first-child, .facts div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.facts div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.facts li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.facts ul {
  color: #7e7e7e;
}

.facts ul li:first-child {
  color: #b88b58;
  font-size: 40px;
}

.facts ul li:nth-child(3) {
  color: white;
  font-size: 20px;
}

.facts ul li:last-child {
  -ms-flex-align: end;
      align-items: flex-end;
}

.about {
  color: #aeaeae;
}

.end {
  -ms-flex-align: end;
      align-items: flex-end;
}

.row_share {
  width: 100%;
  height: 100px;
  height: 100px;
  background: white;
}

.share {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
  width: 50%;
}

.share div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.share ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.share ul li {
  font-size: 12px;
  color: #595959;
}

.share_icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.share_icon span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.share_icon span:hover {
  background: black;
}

.share_icon div {
  font-size: 12px;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 3%;
  color: #c2c2c2;
}

.share_icon div:first-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.share_icon i {
  padding-top: 10px;
  color: white;
}

.tw {
  background: #34c5f0;
}

.in {
  background: #127cb4;
}

.fa {
  background: #336297;
}

.gp {
  background: #e74237;
}

.pi {
  background: #b71c29;
}

.row_contact {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
  height: 550px;
}

.contact {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.contact div {
  padding-top: 15px;
}

.contact div:nth-child(4) {
  font-weight: bold;
}

.contact div:last-child {
  width: 60%;
  margin: auto;
  color: #c0c0c0;
}

.contact form {
  width: 50%;
  margin: 25px auto;
}

.contact input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-bottom: 2px solid #aeaeae;
  color: #d3d3d3;
  font-size: 20px;
  padding: 20px 0;
  background-color: #f7f7f7;
}

.contact input:first-child {
  width: 49%;
}

.contact input:nth-child(2) {
  width: 49%;
}

.contact input:nth-child(3) {
  width: 100%;
}

.contact input:nth-child(4) {
  width: 100%;
  padding-top: 70px;
}

.row_map {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

.row_map div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.row_map ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row_map ul li {
  font-size: 12px;
  color: #595959;
}

.info {
  width: 500px;
  background-color: white;
  color: #7e7e7e;
  margin-top: 100px;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.info div {
  padding: 5px 0px 5px 25px;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  height: 60px;
}

.info span {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #aeaeae;
  margin-right: 5%;
}

.info img {
  padding-top: 25%;
}

.info img:first-child {
  padding-top: 25%;
}

.row_footer {
  width: 100%;
  height: 100px;
  background: black;
  height: 260px;
}

.footer {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  height: 260px;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.footer div {
  -ms-flex-positive: 1;
      flex-grow: 1;
  min-width: 33%;
}

.footer div:nth-child(2) {
  padding: 0 2%;
}

.footer_social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.footer_social span {
  margin-left: 1%;
  margin-top: 25px;
  background-color: #bebebe;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.footer_social span:hover {
  background-color: black;
}

.footer_social span:last-child {
  margin: 220px 0px 0px 0px;
  width: 160px;
  background-color: transparent;
  position: absolute;
}

.footer_social i {
  margin-top: 25%;
  margin-left: 25%;
}

.description {
  width: 95%;
  font-size: 16px;
  margin-top: 25px;
  color: #7e7e7e;
}

.subscribe {
  margin-top: 25px;
  height: 80%;
  font-size: 20px;
  background-color: #373737;
}

.subscribe form {
  width: 60%;
  margin: 10% auto;
}

.subscribe input {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: #9e9e9e;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font: 1em/1.25em sans-serif;
}

.scroll {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f58220;
  background-image: url("../images/phone.png");
  position: fixed;
  position: absolute;
  background-image: url("../images/scroll.png");
  margin-top: -25px;
}

.scroll:hover {
  background-color: black;
}

iframe {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
}

@media (max-width: 1325px) {
  .project_images {
    -ms-flex: 1 0 33%;
        flex: 1 0 33%;
  }
  .row_project {
    height: 1020px;
  }
  .row_footer {
    height: 300px;
  }
}

@media (max-width: 1264px) {
  .menu {
    font-size: 12px;
  }
}

@media (max-width: 1080px) {
  .menu {
    width: 98%;
    text-align: center;
    height: 100px;
    position: absolute;
    padding: 0 1%;
  }
  .menu ul {
    padding-top: 5%;
    margin: 0;
    word-wrap: wrap;
  }
  .menu ul li {
    height: 30px;
    font-size: 15px;
    padding: 5px 1%;
    width: 8%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .menu ul li:hover {
    border-bottom: none;
  }
  .design {
    height: 550px;
  }
  .design ul {
    margin-top: 200px;
  }
  .top {
    margin-top: 20px;
  }
  .row_footer {
    height: 350px;
  }
  .row_footer .subscribe {
    height: 300px;
  }
  .row_footer .subscribe input {
    width: 100% !important;
  }
}

@media (max-width: 1080px) and (min-width: 780px) and (max-width: 1021px) {
  .team {
    width: 100%;
  }
  .team ul {
    width: 100%;
  }
  .row_about {
    height: 550px;
  }
  .btn_more {
    margin-top: 100px;
  }
  .row_project {
    height: 750px;
  }
  .price {
    width: 100%;
  }
  .row_premium {
    height: 800px;
  }
  .box {
    padding: 10px 0;
  }
  .row_footer {
    height: 450px;
  }
  #sub {
    font-size: 10px;
  }
}

@media (max-width: 1080px) and (max-width: 1020px) and (min-width: 701px) {
  .images_list li {
    margin: 0;
    padding: 0;
  }
  .images_list img {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1080px) and (max-width: 700px) {
  .hamburger {
    margin-left: 90%;
    display: block;
    width: 10%;
    background-image: url("/images/hamburger.png");
    height: 30px;
    width: 30px;
    margin-top: 20px;
    background-repeat: no-repeat;
  }
  .row_menu {
    height: 520px;
  }
  .show_menu li:nth-child(n+3) {
    display: none;
  }
  .menu li:nth-child(n+3):hover {
    border-bottom: none;
  }
}

@media (max-width: 1080px) and (min-width: 401px) and (max-width: 700px) {
  .menu {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .menu li {
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 1.5rem;
    width: 100%;
  }
  .menu li:hover {
    border-bottom: none;
  }
  .design {
    padding-top: 400px;
  }
  .design ul {
    font-size: 20px;
  }
  .about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 80%;
  }
  .btn_get {
    margin-top: 50px;
  }
  .btn_more {
    margin-left: 30%;
  }
  .video {
    width: 100%;
    border: 1px solid white;
  }
  .logo {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .row_about {
    height: 400px;
  }
  .services {
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 300px;
  }
  .info {
    width: 100%;
    margin-left: 10px;
    position: relative;
  }
  .row_project {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .project_menu {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 500px;
  }
  .project_menu li {
    line-height: 100px;
    width: 100%;
  }
  .project_menu li:first-child, .project_menu li:last-child {
    border-radius: 0;
  }
  .images_list {
    height: 2600px;
  }
  .team {
    margin-top: 2100px;
  }
  .client div:last-child {
    width: 80%;
  }
  .row_client {
    height: 700px;
  }
  .row_logo {
    margin-top: 50px;
  }
  .premium {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .premium_box {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .premium_desc {
    width: 80%;
  }
  .share_icon {
    width: 80%;
    padding: 0;
  }
  .tell_about_us {
    width: 0;
    margin: 0;
    padding: 0;
    display: none;
  }
  .images_list {
    margin-top: 250px;
    width: 100%;
    padding: 0;
  }
  .images_list li {
    padding: 0;
  }
  .project_images img {
    width: 100%;
    margin: 0 auto;
  }
  .project_images img:hover {
    opacity: 0.5;
  }
  .premium_box img {
    width: 100%;
  }
  .share {
    width: 100%;
  }
  .mt-s-1 {
    margin-top: 10px;
  }
  .mt-s-2 {
    margin-top: 15px;
  }
  .mt-s-3 {
    margin-top: 20px;
  }
  .mt-s-4 {
    margin-top: 25px;
  }
  .mt-s-5 {
    margin-top: 30px;
  }
  .mt-s-6 {
    margin-top: 35px;
  }
  .mt-s-7 {
    margin-top: 40px;
  }
  .mt-s-8 {
    margin-top: 45px;
  }
  .mt-s-9 {
    margin-top: 50px;
  }
  .mt-s-10 {
    margin-top: 55px;
  }
  .mt-s-11 {
    margin-top: 60px;
  }
  .mt-s-12 {
    margin-top: 65px;
  }
  .mt-s-13 {
    margin-top: 70px;
  }
  .mt-s-14 {
    margin-top: 75px;
  }
  .mt-s-15 {
    margin-top: 80px;
  }
  .mt-s-16 {
    margin-top: 85px;
  }
  .mt-s-17 {
    margin-top: 90px;
  }
  .mt-s-18 {
    margin-top: 95px;
  }
  .mt-s-19 {
    margin-top: 100px;
  }
  .mt-s-20 {
    margin-top: 105px;
  }
  .mt-s-21 {
    margin-top: 110px;
  }
  .mt-s-22 {
    margin-top: 115px;
  }
  .mt-s-23 {
    margin-top: 120px;
  }
  .mt-s-24 {
    margin-top: 125px;
  }
  .mt-s-25 {
    margin-top: 130px;
  }
  .mt-s-26 {
    margin-top: 135px;
  }
  .mt-s-27 {
    margin-top: 140px;
  }
  .mt-s-28 {
    margin-top: 145px;
  }
  .mt-s-29 {
    margin-top: 150px;
  }
  .mt-s-30 {
    margin-top: 155px;
  }
  .btn_price:hover {
    background-color: black;
  }
  .btn_project {
    margin-top: 1200px;
  }
  .get_in_touch {
    margin-top: 50px;
  }
  .row_facts {
    margin-top: 100px;
  }
  .design {
    font-size: 65px;
  }
  .about {
    height: 600px;
  }
  .row_services {
    height: 850px;
  }
  .services {
    width: 100%;
  }
  .services div {
    -ms-flex: 100%;
        flex: 100%;
  }
  .border {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .row_project {
    height: 2650px;
  }
  .project {
    width: 100%;
  }
  .project div {
    width: 100%;
  }
  .project div .project_menu {
    width: 90%;
    font-size: 12px;
  }
  .project div .project_menu li:hover {
    border-bottom: none;
  }
  .project li {
    -ms-flex: 100%;
        flex: 100%;
  }
  .project_images img:hover {
    opacity: 1;
  }
  .row_logo {
    height: 600px;
  }
  .logo {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .logo img {
    padding: 20px 0px;
  }
  .row_team {
    height: 1600px;
    background: black;
  }
  .social span:hover {
    background-color: #bebebe;
  }
  .row_client {
    height: 600px;
  }
  .logo {
    width: 100%;
  }
  .row_price {
    height: 2000px;
    width: 100%;
  }
  .price {
    width: 100%;
  }
  .price .back {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    margin: 20px 0px;
  }
  .row_premium {
    height: 1100px;
  }
  .premium {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    padding: 0px 0px 40px 0px;
  }
  .premium div {
    padding: 5px 0px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
  }
  .row_facts {
    height: 950px;
  }
  .facts {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .facts ul {
    min-width: 100%;
  }
  .row_footer {
    height: 500px;
  }
  .footer {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer div {
    margin-top: 100px;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer div:nth-child(2) {
    text-align: center;
    width: 95%;
  }
  .footer_social span:hover {
    background-color: #bebebe;
  }
  .footer_social span:last-child {
    text-align: center;
    margin-top: 300px;
  }
  .contact form {
    width: 100%;
    margin: 25px auto;
  }
  .contact input {
    width: 100% !important;
  }
  .row_map {
    width: 100%;
  }
  .info {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    padding: 0;
    position: absolute;
  }
  .info .card {
    margin-top: 20%;
  }
  .row_footer {
    height: 550px;
  }
  #awax {
    margin-top: 470px;
    color: black;
  }
  #awax:hover {
    background-color: none !important;
  }
  .btn_subscribe {
    margin-top: 0;
  }
}

@media (max-width: 1080px) and (max-width: 400px) {
  .row_menu {
    height: 570px;
  }
  .menu {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .menu li {
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 1.5rem;
    width: 100%;
  }
  .menu li:hover {
    border-bottom: none;
  }
  .design {
    padding-top: 400px;
  }
  .design ul {
    font-size: 20px;
  }
  .about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 80%;
  }
  .btn_get {
    margin-top: 50px;
  }
  .btn_more {
    margin-left: 30%;
  }
  .video {
    width: 100%;
    border: 1px solid white;
  }
  .logo {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .row_about {
    height: 400px;
  }
  .services {
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 300px;
  }
  .info {
    width: 100%;
    margin-left: 10px;
    position: relative;
  }
  .row_project {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .project_menu {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 500px;
  }
  .project_menu li {
    line-height: 100px;
    width: 100%;
  }
  .project_menu li:first-child, .project_menu li:last-child {
    border-radius: 0;
  }
  .images_list {
    height: 2600px;
  }
  .team {
    margin-top: 1100px;
  }
  .client div:last-child {
    width: 80%;
  }
  .row_client {
    height: 700px;
  }
  .row_logo {
    margin-top: 50px;
  }
  .premium {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .premium_box {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .premium_desc {
    width: 80%;
  }
  .share_icon {
    width: 80%;
    padding: 0;
  }
  .tell_about_us {
    width: 0;
    margin: 0;
    padding: 0;
    display: none;
  }
  .images_list {
    margin-top: 250px;
    width: 100%;
    padding: 0;
  }
  .images_list li {
    padding: 0;
  }
  .project_images img {
    width: 100%;
    margin: 0 auto;
  }
  .project_images img:hover {
    opacity: 0.5;
  }
  .premium_box img {
    width: 100%;
  }
  .share {
    width: 100%;
  }
  .mt-s-1 {
    margin-top: 10px;
  }
  .mt-s-2 {
    margin-top: 15px;
  }
  .mt-s-3 {
    margin-top: 20px;
  }
  .mt-s-4 {
    margin-top: 25px;
  }
  .mt-s-5 {
    margin-top: 30px;
  }
  .mt-s-6 {
    margin-top: 35px;
  }
  .mt-s-7 {
    margin-top: 40px;
  }
  .mt-s-8 {
    margin-top: 45px;
  }
  .mt-s-9 {
    margin-top: 50px;
  }
  .mt-s-10 {
    margin-top: 55px;
  }
  .mt-s-11 {
    margin-top: 60px;
  }
  .mt-s-12 {
    margin-top: 65px;
  }
  .mt-s-13 {
    margin-top: 70px;
  }
  .mt-s-14 {
    margin-top: 75px;
  }
  .mt-s-15 {
    margin-top: 80px;
  }
  .mt-s-16 {
    margin-top: 85px;
  }
  .mt-s-17 {
    margin-top: 90px;
  }
  .mt-s-18 {
    margin-top: 95px;
  }
  .mt-s-19 {
    margin-top: 100px;
  }
  .mt-s-20 {
    margin-top: 105px;
  }
  .mt-s-21 {
    margin-top: 110px;
  }
  .mt-s-22 {
    margin-top: 115px;
  }
  .mt-s-23 {
    margin-top: 120px;
  }
  .mt-s-24 {
    margin-top: 125px;
  }
  .mt-s-25 {
    margin-top: 130px;
  }
  .mt-s-26 {
    margin-top: 135px;
  }
  .mt-s-27 {
    margin-top: 140px;
  }
  .mt-s-28 {
    margin-top: 145px;
  }
  .mt-s-29 {
    margin-top: 150px;
  }
  .mt-s-30 {
    margin-top: 155px;
  }
  .btn_price:hover {
    background-color: black;
  }
  .btn_more:hover, .btn_project:hover, .btn_get:hover {
    background-color: #f58220;
  }
  .btn_project {
    margin-top: 220px;
  }
  .get_in_touch {
    margin-top: 50px;
  }
  .design {
    font-size: 65px;
  }
  .about {
    height: 600px;
  }
  .row_services {
    height: 850px;
  }
  .services {
    width: 100%;
  }
  .services div {
    -ms-flex: 100%;
        flex: 100%;
  }
  .border {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .row_project {
    height: 2650px;
  }
  .project {
    width: 100%;
  }
  .project div {
    width: 100%;
  }
  .project div .project_menu {
    width: 90%;
    font-size: 12px;
  }
  .project div .project_menu li:hover {
    border-bottom: none;
  }
  .project li {
    -ms-flex: 100%;
        flex: 100%;
  }
  .project_images img:hover {
    opacity: 1;
  }
  .row_logo {
    height: 600px;
  }
  .logo {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .logo img {
    padding: 20px 0px;
  }
  .row_team {
    height: 1600px;
    background: black;
  }
  .social span:hover {
    background-color: #bebebe;
  }
  .row_client {
    height: 600px;
  }
  .logo {
    width: 100%;
  }
  .row_price {
    height: 2000px;
    width: 100%;
  }
  .price {
    width: 100%;
  }
  .price .back {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    margin: 20px 0px;
  }
  .row_premium {
    height: 1100px;
  }
  .premium {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    padding: 0px 0px 40px 0px;
  }
  .premium div {
    padding: 5px 0px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
  }
  .row_facts {
    height: 950px;
  }
  .facts {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .facts ul {
    min-width: 100%;
  }
  .row_footer {
    height: 500px;
  }
  .footer {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer div {
    margin-top: 100px;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer div:nth-child(2) {
    text-align: center;
    width: 95%;
  }
  .footer_social span:hover {
    background-color: #bebebe;
  }
  .footer_social span:last-child {
    text-align: center;
    margin-top: 300px;
  }
  .contact form {
    width: 100%;
    margin: 25px auto;
  }
  .contact input {
    width: 100% !important;
  }
  .row_map {
    width: 100%;
  }
  .info {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    padding: 0;
    position: absolute;
  }
  .info .card {
    margin-top: 20%;
  }
  .row_footer {
    height: 550px;
  }
  #awax {
    margin-top: 470px;
    color: black;
  }
  .btn_subscribe {
    margin-top: 0;
  }
}

@media (max-width: 1080px) and (min-width: 150px) and (max-width: 352px) {
  .row_services {
    margin-top: 350px !important;
    height: 900px;
  }
  .project_images img {
    height: 220px;
  }
  .btn_project {
    margin-top: 100px;
  }
  .team {
    margin-top: 980px;
  }
  .row_client {
    height: 680px;
  }
  .btn_project {
    margin-top: 70px;
  }
  .row_facts {
    height: 1000px;
  }
  .share {
    width: 75%;
    padding: 0;
    margin: 0 7%;
  }
  .row_footer {
    height: 570px;
  }
  #awax {
    margin-top: 500px;
  }
  #awax:hover {
    background-color: white;
  }
  .btn_subscribe {
    margin-top: 0px;
  }
}

@media (max-width: 1080px) {
  #sub {
    font-size: 10px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .btn_more {
    margin: 150px 0 0 35%;
  }
  .row_services {
    margin-top: 100px;
  }
  .btn_project {
    margin-top: 2400px;
  }
  .team {
    margin-top: 3300px;
  }
  .team ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .row_premium {
    height: 1250px;
  }
  .get_in_touch {
    margin-top: 50px;
  }
  .row_contact {
    height: 700px;
  }
  .btn_message {
    margin-top: 50px;
  }
  .info {
    width: 50%;
  }
  #sub {
    font-size: 15px;
  }
  #awax {
    margin-top: 525px;
    color: white;
  }
  .btn_subscribe {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */