body {
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 25px;
}

.mt-5 {
  margin-top: 30px;
}

.mt-6 {
  margin-top: 35px;
}

.mt-7 {
  margin-top: 40px;
}

.mt-8 {
  margin-top: 45px;
}

.mt-9 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 55px;
}

.mt-11 {
  margin-top: 60px;
}

.mt-12 {
  margin-top: 65px;
}

.mt-13 {
  margin-top: 70px;
}

.mt-14 {
  margin-top: 75px;
}

.mt-15 {
  margin-top: 80px;
}

.mt-16 {
  margin-top: 85px;
}

.mt-17 {
  margin-top: 90px;
}

.mt-18 {
  margin-top: 95px;
}

.mt-19 {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 105px;
}

.mt-21 {
  margin-top: 110px;
}

.mt-22 {
  margin-top: 115px;
}

.mt-23 {
  margin-top: 120px;
}

.mt-24 {
  margin-top: 125px;
}

.mt-25 {
  margin-top: 130px;
}

.mt-26 {
  margin-top: 135px;
}

.mt-27 {
  margin-top: 140px;
}

.mt-28 {
  margin-top: 145px;
}

.mt-29 {
  margin-top: 150px;
}

.mt-30 {
  margin-top: 155px;
}

.btn_position {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: fixed;
}

.menu li {
  height: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1%;
}

.menu li:hover {
  border-bottom: 5px solid yellow;
}

.menu li:first-child {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  border-bottom: none;
}

.row_menu {
  width: 100%;
  height: 100px;
}

.btn_get {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_get:hover {
  background-color: black;
}

.btn_more {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_more:hover {
  background-color: black;
}

.btn_project {
  font-size: 12px;
  background-color: #f58220;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn_project:hover {
  background-color: black;
}

.row_hero {
  width: 100%;
  height: 100px;
  height: 850px;
  background-image: url("../images/hero.png");
  background-size: cover;
}

.design {
  color: white;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  z-index: 1;
}

.design ul {
  margin-top: 250px;
  list-style-type: none;
}

.design li:nth-child(2) {
  color: #f58220;
}

.design li:nth-child(3) {
  font-size: 24px;
}

.phone {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f58220;
  margin-top: 200px;
  background-image: url("../images/phone.png");
}

.phone:hover {
  background-color: black;
}

.flex_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  -ms-flex-pack: center;
      justify-content: center;
}

.about div {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  text-align: center;
}

.about div:first-child, .about div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.about div:nth-child(2) {
  font-size: 16px;
  color: #f58220;
  margin: 0;
}

.about div:nth-child(3) {
  text-align: left;
}

.about div:nth-child(5) {
  text-align: left;
  margin-top: -100px;
}

.video {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  height: 315px;
  width: 487px;
}

.row_services {
  width: 100%;
  height: 100px;
  height: 400px;
  background-color: black;
}

.services {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.services div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services ul li {
  font-size: 12px;
  color: #595959;
}

.services div:first-child, .services div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.services div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.services div li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.row_project {
  width: 100%;
  height: 100px;
  height: 800px;
}

.center_div_project div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_project div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.center_div_project div:nth-child(2) {
  font-size: 14px;
  color: #e5e5e5;
}

.project {
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.project_menu {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 50px;
}

.project_menu li {
  list-style-type: none;
  -ms-flex-preferred-size: 16.5%;
      flex-basis: 16.5%;
  background-color: #ededed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #dedede;
  height: 95%;
}

.project_menu li:first-child {
  border-radius: 20px 0px 0px 20px;
}

.project_menu li:last-child {
  border-radius: 0px 20px 20px 0px;
}

.project_menu li:hover {
  border-bottom: 2px solid #b88b58;
}

.images_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images_list li {
  padding: 20px 0px;
}

.project_images {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 21%;
      flex: 1 0 21%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.project_images img:hover {
  opacity: 0.5;
}

.row_team {
  width: 100%;
  height: 100px;
  background-image: url("../images/team.png");
  height: 700px;
}

.center_div_team div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.center_div_team div:first-child {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.center_div_team div:nth-child(2) {
  font-size: 12px;
  color: white;
}

.center_div_team div:first-child {
  padding-top: 50px;
}

.team {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.team div {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  -ms-flex: 24%;
      flex: 24%;
}

.team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.team ul li {
  font-size: 12px;
  color: #595959;
}

.team div:first-child, .team div:nth-child(2) {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
}

.team div:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}

.team div li:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.team ul {
  background-color: white;
  width: 95%;
  height: 150%;
  text-align: flex-end;
}

.team ul li:nth-child(2) {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: auto;
}

.social span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #bebebe;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: red;
}

.social span i {
  margin-top: 25%;
}
/*# sourceMappingURL=style.css.map */