.contact{
	@include client;
		
	form{
		width: 50%;
		margin: 25px auto;
	}	

	input{
		font-family: 'Montserrat', sans-serif;
		border: none;
		border-bottom: 2px solid #aeaeae;
		color: #d3d3d3;
		font-size: 20px;
		padding: 20px 0;
		background-color:#f7f7f7;


		&:first-child{
			width: 49%;
		}

		&:nth-child(2){
			width: 49%;
		}
		&:nth-child(3){
			width: 100%;
		}
		&:nth-child(4){
			width: 100%;
			padding-top: 70px;
		}
	}
}

	

