.facts{
	@include services;
	@include services_div;
	

	ul{
		color: #7e7e7e;
			 

		li{
			&:first-child{
			color: #b88b58;
			font-size: 40px;
		   }

		   &:nth-child(3)
		   {
		   	color: white;
		   	font-size: 20px;
		   }

		   &:last-child{
		   	align-items: flex-end; 

		   }
		}
		
	}
}

.about{
	color: #aeaeae;
}

.end{
	align-items: flex-end;
}