.row_share{
	@include row_menu;
	height: 100px;
	background: white;
}

.share{
	@include services;
	width: 50%;
}

.share_icon{
	display: flex;

	span{
		border-radius: 50%;
		width: 30px;
		height: 30px;

		&:hover{
			background: black;
		}
	}

	div{
		font-size: 12px;
		align-items: center;
		padding: 0 3%;
		color: #c2c2c2;

		&:first-child{
			flex-basis: 50%;
		}

	}

	i{
		padding-top: 10px;
		color: white;
	}
}

.tw{
	background: #34c5f0;
}

.in{
	background: #127cb4;
}

.fa{
	background: #336297;
}

.gp{
	background: #e74237;
}

.pi{
	background: #b71c29;
}