.row_team{
	@include row_menu;
	background-image: url('../images/team.png');
	height: 700px;
}

.center_div_team{
	@include center_div(24px,12px,white,white);

	div:first-child{
		padding-top: 50px;
	}
}



.team{
	
	@include services;

	@include services_div;

	ul{
		background-color: white;
		width: 95%;
		padding: 50px 0;
	


 		@include li_second_child(black,24px);

 		}

} 

.social{
	

	display: flex;
	padding:0 5%;

		span{
		
		margin-top: 25px;
		background-color: #bebebe;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		color:white;

		&:hover{
			background: #b88b58;
		}

		i{
			margin-top:25%;
		}

		
	}

}

	

